<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/css/productCreate.css">
        <title>Registrar Producto</title>
</head>

<body>
    <div class="fondo">
        <!-- HEADER -->
        <%- include('../partials/header.ejs')%>
            <!-- MAIN -->
            <main>
                <section class="titulo">
                    <h1 class="titulo__text">Registrar producto</h1>
                </section>
                <form class="formulario" action="/product/create" method="post" enctype="multipart/form-data">
                    <%- include("../partials/productCreatePartial.ejs")%>
                </form>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer.ejs')%>
    </div>
</body>
</html>