* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

:root {
  --morado: #45293f;
  --marron: #B0A987;
  --gris-claro: #a9b2a2;
  --gris-iconos-body: #788a87;
  --gris-oscuro: #576069;
  --amarillo-anaranjado: #FBB954;
  --naranja: #CD683D;
  --terracota: #993D41;
  --filtro: #171B27 - opacidad 54%;

  --p: 60px;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
}

/* general*/

.contenedor {
  border-radius: 10px;
  width: auto;
  flex-direction: column;
  display: flex;
  margin-bottom: 30px;
  min-height: 70vh;
}

.tituloCarrito {
  font-size: 1.5em;
  font-weight: 550;
  color: white;
  border-bottom: 1px solid var(--gris-claro);
  padding: 20px var(--p);
  display: flex;
  align-items: center;
}

.tituloCarrito #i-carrito {
  font-size: 1.2em;
  padding: 6%;
  align-items: flex-start;
  opacity: 80%;
}

.carrito {
  border-radius: 3%;
  display: inline-block;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  background-color: rgba(69, 41, 63, 0.5);
  color: white;
  width: 85%;
  justify-content: center;
  padding: 0px var(--p);
}

.item {
  display: block;
  width: 100%;
  padding: 40px var(--p);
  margin-bottom: auto;
}

.item__titulo {
  display: flex;
  align-self: center;
  color: white;
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 500;
  padding: 5%;
}

.tarjeta {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.tarjeta__img {
  height: 80px;
  width: 80px;
  justify-content: space-around;
  padding: 2px;
  position: relative;
  margin-bottom: 3px;
  flex-wrap: wrap;
}

.tarjeta__img--img {
  width: 80%;
  min-height: 80%;
  border-radius: 4px;
  align-items: flex;
  margin-bottom: 2%;
}

.item__detalle {
  flex-direction: column;
  display: flex;
  margin-top: 20%;
  padding: 10px 15px;
  justify-content: space-between;
  margin-bottom: 10%;
}

.item__detalle--nombre {
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
}

.item__datos {
  margin-top: 15%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__datos--cantidad {
  background: rgba(10, 10, 10, 0.4);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 2%;
}

.item__datos--precio {
  padding: 4%;
}

.item__datos--contar {
  font-size: 20px;
}

#menos,
#mas,
.item__detalle--cerrar {
  border: inherit;
  color: black;
  font: inherit;
  cursor: pointer;
  justify-items: center;
}

i,
span {
  display: inline-block;
}

label,
img {
  display: block;

}

label .compra__descuento {
  color: var(--gris-claro);
  border-radius: 5px;
  margin-bottom: 10px;
}

input {
  font: inherit;
  width: 100%;
  border: none;
}

input:focus {
  outline: 2px solid var(--azure);
}


.item__datos--cantidad button {
  background: rgba(241, 235, 235, 0.7);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compra {
  display: block;
  font-size: 16px;
}

.compra__comprar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.item__datos--cantidad button:active,
.item__detalle--cerrar:active i {
  transform: scale(0.95);
}

.item__datos--cantidad button i {
  width: 70px;
  font-size: 15px;
}

.item__detalle--cerrar {
  position: absolute;
  top: 0;
  right: 0;
}

.item__detalle--cerrar i {
  display: flex;
  font-size: 20px;
  color: white;
}

.item__detalle--cerrar:hover i {
  color: rgb(155, 5, 5);
}



label .label-defaul {
  size: 16px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  color: antiquewhite;
}

div.compra__costos {
  font-size: 16px;
  justify-content: space-between;
}

.compra__descuento {
  display: block;
  margin: 0;
  padding: 15% 0px;
}

.compra__costos {

  text-align: center;
  display: block;
  margin: 0;
  padding: 15% 0px;
  justify-content: space-between;
}

.compra__costos>div {
  display: flex;
  justify-content: space-between;
}

#comprar {
  align-self: center;

}

.compra__descuento--titulo {
  margin-bottom: 2%;
}

.compra__descuento--barra {
  color: antiquewhite;
  display: inline-block;
  align-items: center;
  gap: 30px;
}


.compra__descuento--barra input {
  padding: 12px 15px;
  font-weight: var(--fw-6);
  letter-spacing: 2px;
  border-radius: 3px;
  margin-bottom: 2%;
}

.compra__descuento--boton {
  padding: 10px 25px;
  justify-content: center;
  color: var(--morado);
  font-size: 16px;
  font-weight: 600;
  background: rgb(247, 244, 244, 0.5);
  border-radius: 5px;
}

.compra__comprar--boton {
  padding: 10px 25px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: var(--morado);
  font-size: 16px;
  font-weight: 600;
  background: rgb(247, 244, 244, 0.5);
  border-radius: 5px;
  margin-bottom: 5%;

}

.compra__descuento--boton:hover {
  background: var(--morado);
  color: var(--white);
}

.compra__comprar--boton:hover {
  background: var(--morado);
  color: var(--white);
}


.compra__costos--envio {
  border-bottom: #a9b2a2 1px solid;
}



.compra__costos>div {
  margin-bottom: 10px;
}

.compra__costos,
.compra__costos--total {
  font-size: 18px;
  font-weight: 550;
  color: white;
}

@media (min-width: 341px) {
  .carrito {
    border-radius: 3%;
    display: flexbox;
    flex-direction: row;
    flex-grow: 1;
    margin: auto;
    background-color: rgba(69, 41, 63, 0.5);
    color: white;
    width: 85%;
    padding: 0px var(--p);
  }

  .tituloCarrito {
    padding: 5px 10px;

  }

  .tarjeta {
    display: block;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }

  div .item__detalle {
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20%;
    padding: 10px 15px;
    justify-content: space-between;
    margin-bottom: 10%;
  }
}

@media (min-width: 450px) {
  .carrito {
    font-size: 18px;
    display: block;
    flex-direction: column;
    padding: 5px;
  }

  .contenedor {
    width: 100%;
    flex-direction: column;
    display: flex;

  }

  .tituloCarrito {

    border-bottom: 1.5px solid var(--gris-claro);
    padding: 0px 0px;
    display: flex;
    align-items: center;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .item__detalle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tituloCarrito {
    padding: 0;
  }

  .tarjeta {
    display:block;
    align-items: center;
    justify-content:space-around;
 
  }

  .compra__costos {
    align-items: center;
    text-align: center;
    display: block;
    margin: 15px;
    padding: 15% 15%;
    justify-content:space-around;
  
  
  }
.compra__descuento{
  align-items: center;
  text-align: left;
  display: block;
  margin: 15px;
  padding: 15% 15%;
  justify-content:space-around;

}

}

@media (max-width: 567px) {

  :root {
    --p: 20px;
  }

  .input-flex {
    flex-direction: column;
    gap: 20px;
  }

  .input-flex {
    flex-direction: row;
  }

}

@media (min-width : 769px) {
   .carrito {
    margin-block: 2%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .item__detalle {
    display: flex;
  }

  .tarjeta {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .cart .item__datos {
    margin-top: 20px;
  }

  .cart .item {
    border-right: 1px solid var(--gris-claro);
    margin-bottom: 0;
  }
  .compra{
    justify-content: center;
    display:block;
    padding: 2%;
  }
  .compra__costos>div{
        display:inline-flexbox;
        justify-content: space-between;
        font-size: 18px;
  }
  .compra__descuento {
    border-top: none;
  }
}

@media (max-width : 1200px) {
  .carrito {
    flex-direction: column-reverse;
  }

  .cart .item__datos {
    margin-top: auto;
  }

  .cart .item {

    margin-bottom: 0;
  }

  .discount-token {
    border-top: none;
  }
}