* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

:root {
  --morado: #45293f;
  --marron: #B0A987;
  --gris-claro: #a9b2a2;
  --gris-iconos-body: #788a87;
  --gris-oscuro: #576069;
  --amarillo-anaranjado: #FBB954;
  --naranja: #CD683D;
  --terracota: #993D41;
  --filtro: #171B27 - opacidad 54%;

  --p: 60px;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
}

/* general*/


#menos,
#mas,
.item__detalle--cerrar {
  border: inherit;
  color: black;
 
       font: inherit;
      cursor: pointer;
      justify-items: center;
  }

  i, span {
    display: inline-block;
  }

  label, img {
    display: block;

  }

  label .compra__descuento {
    color: var(--gris-claro);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input {
    font: inherit;
    width: 100%;
    border: none;
  }

  input:focus {
    outline: 2px solid var(--azure);
  }

  .contenedor{
    border-radius: 10px;
    max-width: 1440px;
    min-height: 100vh;
    margin-top: 0;
    margin: auto;
    display: flex;
    flex-direction:column;
  }

  .tituloCarrito {
    font-size: 28px;
    font-weight: 550;
    color: whitesmoke;
    border-bottom: 1px solid var(--gris-claro);
    padding: 20px var(--p);
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .tituloCarrito #i-carrito {
    font-size: 30px;
  }

    .carrito {
      border-radius: 12px;
      display: flex;
      flex-grow: 1;
      margin: auto;
      background-color: rgba(69, 41, 63, 0.5);
      color:white;
      width: 60%;
      flex-direction: column;
      justify-content:center;
      padding: 0px var(--p);
  }

  .name {
    justify-content: space-around;
  }

  .item {
    display: inline-block;
    width: 100%;
    padding: 40px var(--p);
    margin-bottom: auto;

  }

  .item__titulo {
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
  }

  .tarjeta {
    align-items: center;
    display:inline-block;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }


  .tarjeta .tarjeta__img--img{
    border-radius: 4px;
    min-width: 60px;
    max-width: 600px;
  }

  .tarjeta__img--img {
    border-radius: 4px;

    min-width: 60px;
    max-width: 600px;
  }

  .item__detalle {
    flex-direction: column;
    display:inline;
    padding: 10px 15px;

  }

  .tarjeta , .item__detalle, .item__detalle--nombre {
    font-weight: 500;
    font: size 16px; ;
    color: white;
    margin-bottom: 10px;
  }

  .tarjeta, .item__detalle , .item__datos {
       display: flex;
    gap: 22px;
    margin-bottom: 10%;
  }

  .item__datos--cantidad {
    background: rgba(10, 10, 10, 0.4);
    display: flex;
    align-items: center;
    gap: 15px;
    ;
  }

  .item__datos--cantidad button {
    background: rgba(241, 235, 235, 0.7);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button .compra__descuento--boton .compra__comprar {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

  }

  .item__datos--cantidad button:active,
  .item__detalle--cerrar:active i {
    transform: scale(0.95);
  }

  .item__datos--cantidad button i {
    width: 70px;
    font-size: 15px;
  }

  .item__detalle--cerrar {
    position: absolute;
    top: 0;
    right: 0;
  }

  .item__detalle--cerrar i {
    display: flex;
    font-size: 20px;
    color: white;
  }

  .item__detalle--cerrar:hover i {
    color: tomato;
  }

  .compra__descuento {
    padding: 40px var(--p);

  }

  .item__datos--boton{
    border:rgb(255, 0, 76) 1px solid;
  }
  
  label .label-defaul {
    size: 16px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    color: antiquewhite;
  }

  /*botones cantidad mas precio*/
    .item__datos{
    margin-top: 15%;
    flex-direction: column;
  }
  #comprar{
    align-self: center;
    
  }

  .compra__descuento--barra {
    border: rgb(255, 0, 76) 1px solid;
    color: antiquewhite;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  

  .compra__descuento--barra input {
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
  }

  .compra__descuento--boton {
    padding: 10px 25px;

    color: var(--morado);
    font-size: 16px;
    font-weight: 600;
    background: rgb(247, 244, 244, 0.5);
    border-radius: 5px;
  }

  .compra__descuento--boton:hover {
    background: var(--morado);
    color: var(--white);
  }

  div .compra__costos {
    text-align: center;
    padding: 40px var(--p);

  }

  .compra__costos--envio {
    border-bottom: #a9b2a2 1px solid;
  }

  .compra__costos > div {
    display: flex;
    justify-content: space-between;
  }

  .compra__costos > div {
    margin-bottom: 10px;
  }

  .compra__costos, .compra__costos--total {
    font-size: 18px;
    font-weight: 550;
    color: white;
  }



  /*mobile*/
  @media (max-width : 1200px) {
    .carrito {
      flex-direction: column-reverse;
    }

    

    .cart .item__datos {
      margin-top: auto;
    }

    .cart .item {

      margin-bottom: 0;
    }

    .discount-token {
      border-top: none;
    }
  }

  @media (max-width: 567px) {

    :root {
      --p: 20px;
    }

    .input-flex {
      flex-direction: column;
      gap: 20px;
    }

    .input-flex {
      flex-direction: row;
    }

  }

  /*tablet*/


  /*desktop*/
  @media (min-width : 769px) {
    .carrito {
      flex-direction: column-reverse;
    }

    .carrito {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

    }

    .cart .item__datos {
      margin-top: 20px;
    }

    .cart .item {
      border-right: 1px solid var(--gris-claro);
      margin-bottom: 0;
    }

    .compra__descuento {
      border-top: none;
    }
  }


