:root {
    --morado-oscuro: #2E222F;
    --morado: #45293f;
    --vino: #7A3045;
    --terracota: #993D41;
    --naranja: #CD683D;
    --amarillo-naranja: #FBB954;
    --amarillo: #F2EC8B;
    --marron-claro: #B0A987;
    --khaki: #997F73;
    --gris-rojizo: #665964;
    --gris--morado: #443846;
    --gris-oscuro: #576069;
    --gris-turquesa: #788a87;
    --gris-claro: #a9b2a2;
    --filtro: #45293f80;
    --oracula: #bddcf4;
}
.paginaVacia--titulo{
    margin-top: 30px;
}
.paginaVacia--relleno{
    height: 70vh;
}
#slideshow-wrap{
    display: none;
}
/* Destacados mobile */


.destacados-titulo{
    text-align: center;
    color: var(--amarillo-naranja);
    font-size: 1.5em;
    margin-bottom: 10px;
}


/* Estilos de cards de productos */
.contenedor {
    position: relative;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin:0;
    width: 100%;
    max-width: 1000px;
}

.contenedor-cards .contenedor-card-item {
    box-sizing: border-box;
    
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 220px;
    height: 250px;
    margin: 1.5%;
    
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    cursor: help;
}
.contenedor-card-item{
    height: 250px;
}

.contenedor-cards .contenedor-card-item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
   
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #3e272300;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: block;
}

@supports(object-fit: cover) {
    .contenedor-card-item img {
        max-width: 100%;
        min-width: 100%;
        max-height: 250px;
        position: relative;
        top: 0;
       
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 5px;

        height: 100%;
        object-fit: cover;
        object-position: center center;

    }
}

.content__categoria{
    overflow-wrap: break-word;
}


.contenedor-info--category {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: -160px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: rgba(46, 34, 47, 0.8);
}
.contenedor-card-item .contenedor-info--category .fondo {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e0000000', GradientType=0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-card-item .contenedor-info--category .info {
    color: var(--oracula);
    position: relative;
    z-index: 500;
    padding: 5px 10px;
}

.contenedor-card-item .contenedor-info--category .info .titulo {
    margin: 0;
    font-size: 20px;
    text-shadow: 2px 1px 2px black;
}

.contenedor-card-item .contenedor-info--category .info .categoria {
    display: block;
    font-size: 20px;
}

.contenedor-card-item:hover .contenedor-info--category {
    bottom: 0px;
}

.contenedor-card-item:hover img {
    top: -30px;
   
    -ms-transform: rotate(-5deg) scale(1.2);
    -o-transform: rotate(-5deg) scale(1.2);
    transform: rotate(-5deg) scale(1.2);
}

@media screen and (max-width: 900px) {
    .contenedor-card-item:hover img {
        top: -30px;
        
        -ms-transform: rotate(-5deg) scale(1.3);
        -o-transform: rotate(-5deg) scale(1.3);
        transform: rotate(-5deg) scale(1.3);
    }

    .contenedor-cards .contenedor-card-item {
        width: 40%;      
    }

    .contenedor-card-item .contenedor-info--category {
        bottom: 0;
        
    }
}

@media screen and (max-width: 767px) {
    .contenedor {
        width: 95%;
    }

    .contenedor-cards .contenedor-card-item {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 550px) {
    .contenedor-cards .contenedor-card-item {
        width: 60%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    .contenedor {
        width: 90%;
    }

    .contenedor-cards .contenedor-card-item {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .contenedor {
        width: 100%;
    }
}

.content__titulo{
    overflow-wrap: break-word;
    font-size: 40px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    white-space: wrap;
}