:root {
    --morado-oscuro: #2E222F;
    --morado: #45293f;
    --vino: #7A3045;
    --terracota: #993D41;
    --naranja: #CD683D;
    --amarillo-naranja: #FBB954;
    --amarillo: #F2EC8B;
    --marron-claro: #B0A987;
    --khaki: #997F73;
    --gris-rojizo: #665964;
    --gris--morado: #443846;
    --gris-oscuro: #576069;
    --gris-turquesa: #788a87;
    --gris-claro: #a9b2a2;
    --filtro: #45293f80;
    --oracula: #bddcf4;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", sans-serif;
}

ul,
li {
    list-style: none;
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.contenedor--sombra {
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
}

main {
    min-height: calc(100vh - 145px);
}

.fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Fondos/Background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: -1000;
    padding-top: 80px;
}

.secciones,
.logo,
.botonesSuperiores,
.links_2ndColumn,
.adicional_redes {
    display: none;
}

/*---HEADER---*/
.burger {
    justify-self: left;
    flex-grow: 0;
    padding: 2px;
}

#burger_icon {
    color: #FBB954;
    font-size: 50px;
    font-weight: bolder;
}

.menu--mobile {
    width: 50%;
    min-width: 300px;
    height: 100%;
    position: fixed;
    top: 55px;
    left: -420px;
    overflow: hidden;
    background-color: var(--morado-oscuro);
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 24px;
    transition: left 250ms;
}

.active {
    left: 0px
}

.menu__button--mobile {
    color: var(--oracula);
    height: 60px;
    margin: 0px 0;
    width: 100%;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
}

.menu__button--mobile:hover {
    background-color: var(--morado);
}

.menu--oracula {
    font-size: 34px;
    margin: 20px 5px;
    color: var(--oracula);
    text-shadow: 0px 0px 5px var(--oracula);
    animation: menuGlow 5s linear 2s infinite;
}

.menu--oracula:hover {
    background-color: var(--morado-oscuro);
}

@keyframes menuGlow {
    0% {
        text-shadow: 0px 0px 5px var(--oracula);
    }

    25% {
        text-shadow: 0px 0px 5px white;
    }

    50% {
        text-shadow: 0px 0px 5px white, 0px 0px 20px rgb(189, 220, 244, 0.6);

    }

    75% {
        text-shadow: 0px 0px 5px white;
    }

    100% {
        text-shadow: 0px 0px 5px var(--oracula);
    }
}

.menu__dropdown-content--mobile {
    padding-left: 10px;
    color: var(--oracula);
    width: 100%;
    background-color: var(--morado);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5) inset;
    overflow: hidden;
    height: 0;
}

.dropdown--down {
    height: fit-content;
}

.dropdown--animated {
    animation: dropdown 250ms ease-in-out;
    transform-origin: top center;
}

@keyframes dropdown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.dropdown__link--mobile {
    height: 50px;
    margin-left: -10px;
    padding: 10px 0px 10px 0px;
}

.dropdown__link--mobile a {
    padding-left: 20px;
}

.dropdown__link--mobile:hover {
    background-color: var(--terracota);
}

.icon-dropdown--mobile {
    float: right;
    padding-right: 15px;
}

.icon--upside-down {
    transform: rotate(180deg);
    margin-right: 15px;
}

header {
    overflow-x: hidden;
}

.header {
    background-color: #45293f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: max-content;
}

.header__container {
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.header__logo--minimalista {
    display: none;
    width: 80px;
    height: 80px;
    margin: 5px 0;
}

.header__titulo--minimalista {
    font-size: 34px;
    margin: 10px 0;
    color: var(--oracula);
    text-shadow: 0px 0px 5px var(--oracula);
    animation: tituloGlow 5s linear 2s infinite;
}

@keyframes tituloGlow {
    0% {
        text-shadow: 0px 0px 5px var(--oracula);
    }

    25% {
        text-shadow: 0px 0px 5px white;
    }

    50% {
        text-shadow: 0px 0px 5px white, 0px 0px 20px rgb(189, 220, 244, 0.6);

    }

    75% {
        text-shadow: 0px 0px 5px white;
    }

    100% {
        text-shadow: 0px 0px 5px var(--oracula);
    }
}

.header__relleno {
    height: 50px;
}

button {
    background-color: transparent;
    border: none;

}

.secciones__icon {
    color: #B0A987;
    margin-right: 5px;
}

.Busqueda {
    padding: 5px;
    position: relative;
    flex-grow: 1;
}

.Busqueda_input {
    box-shadow: inset 1px 1px 3px var(--morado);
    height: 35px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    font-size: 22px;
    padding: 5px;
}

.Busqueda_button {
    color: #45293f;
    z-index: 2;
    font-size: 30px;
    position: absolute;
    right: 2%;
    top: 8px;
}

#basket-icon-mobile {
    padding: 5px;
    color: #FBB954;
    font-size: 30px;
}

.menu__container {
    display: none;
}

.menu--categorias,
.menu--generos,
.menu--admin,
.search__container {
    display: none;
}

/*---FOOTER---*/
footer {
    background-color: var(--filtro);
    width: 100%;
}

.footer__container {
    font-size: large;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    bottom: 1px;
    max-width: 1200px;
}

.footer__icon {
    color: var(--marron-claro)
}

.footer__icon:hover {
    color: var(--terracota)
}

.links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding-left: 10px;
}

.links__link {
    line-height: 1.5em;
    color: #a9b2a2;
    text-decoration: none;
}

.links__link:hover {
    color: #FBB954;
}

.adicional_logo {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 0px;
}

.footer__logo {
    display: flex;
    width: auto;
    height: 80px;
    display: flex;
}

.footer__logo-nombre {
    color: white;
    font-size: 14px;
    text-shadow: #45293f 2px 5px;
    position: absolute;
    bottom: 1px;
    right: 10px;
}

/*---MEDIA QUERIES---*/
@media (min-width: 820px) {

    main {
        min-height: calc(100vh - 317.5px);
    }

    .adicional_redes,
    .adicional,
    .secciones,
    .logo,
    .header__logo,
    .botonesSuperiores,
    .botonesSuperiores__lista,
    .botonesSuperiores__elemento {
        display: flex;
    }

    .menu--mobile {
        display: none;
    }

    .header__container {
        height: fit-content;
    }

    .fondo {
        padding-top: 120px;
    }

    .header__logo--minimalista {
        display: block;
    }

    .header__titulo--minimalista {
        font-size: 40px;
        color: var(--oracula);
        margin-left: 20px;
    }

    .basket,
    .burger,
    .Busqueda {
        display: none;
    }

    /*---HEADER---*/
    .header {
        position: fixed;
        height: max-content;
    }

    .header__relleno {
        padding-bottom: 50px;
    }

    .logo {
        width: 10%;
    }

    .header__logo {
        width: 70px;
        margin: 5px 0px 10px 20px;
    }

    .secciones {
        justify-content: space-between;
        width: 60%;
        min-width: 450px;
        max-width: 630px;
    }

    .secciones__lista {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .secciones__elemento {
        display: flex;
        flex-wrap: nowrap;
        font-size: 24px;
        color: var(--amarillo-naranja);
        padding: 7px;
        border-bottom: 2px solid transparent;
        transition: all 200ms;
    }

    .secciones__icon {
        color: var(--marron-claro);
    }

    .secciones__elemento:hover {
        color: var(--oracula);
        text-shadow: 0px 0px 10px var(--oracula);
        border-bottom: 2px solid var(--amarillo-naranja);

    }

    .botonesSuperiores {
        width: 30%;
        margin: 0px;
        max-width: 300px;
    }

    .botonesSuperiores__lista {
        justify-content: space-evenly;
        width: 100%;
    }

    .botonesSuperiores__boton {
        font-size: 22px;
        color: var(--marron-claro);
        max-width: 140px;
        word-wrap: break-word;
    }

    .botonesSuperiores__boton:hover {
        color: var(--oracula);
        text-shadow: 0px 0px 10px var(--oracula);
    }

    .botonesSuperiores_Login {
        position: relative;
    }

    .botonesSuperiores_Login--texto {
        font-size: 22px;
        color: var(--marron-claro);
        max-width: 140px;
        word-wrap: break-word;
    }

    .botonesSuperiores__boton:hover .botonesSuperiores_Login--texto {
        color: var(--oracula);
        text-shadow: 0px 0px 10px var(--oracula);
    }

    .dropdown__contenido {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1001;
    }

    .icon--dropdown {
        font-size: 20px;
    }

    .icon--dropdown {
        font-size: 20px;
    }

    .dropdown__links {
        color: var(--gris-claro);
        font-size: 20px;
        background-color: var(--morado-oscuro);
        border: solid 5px var(--morado-oscuro);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown__links:hover {
        color: var(--amarillo-naranja);
        background-color: var(--morado);
    }

    .botonesSuperiores__dropdown:hover .dropdown__contenido {
        display: block;
    }

    .menu__container {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--morado-oscuro);
        position: relative;
        bottom: 0px;
        height: max-content;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        height: max-content;
        top: 0px;
        width: 100%;
        padding: 25px 0 10px;
        border-top: solid 2px var(--terracota);
        border-bottom: solid 3px var(--terracota);
        z-index: 1000;
    }

    .menu--categorias,
    .menu--generos,
    .menu--admin {
        display: none;
        max-width: 1200px;
        z-index: 1000;
    }

    .menu__item {
        flex-grow: 1;
        max-width: 22%;
        height: max-content;
    }

    .menu__link {
        color: var(--amarillo-naranja);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
        height: max-content;
    }

    .link--imagen {
        height: 200px;
    }

    .menu__imagen {
        height: 80%;
    }

    .menu__description {
        font-size: 20px;
        font-weight: 100;
        padding-bottom: 10px;
    }

    /*---SEARCH---*/
    .search__container {
        background-color: var(--morado-oscuro);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        min-width: 350px;
        padding: 3px;
        border: 2px solid var(--gris-oscuro);
        border-radius: 5px;
        flex-wrap: nowrap;
    }

    .search__input {
        width: 100%;
        height: 100%;
        background-color: var(--morado-oscuro);
        border: 0px transparent;
        font-size: 20px;
        font-weight: normal;
        color: var(--gris-claro);
        cursor: text;
    }

    .search__input:focus {
        outline: none;
    }

    .search__button {
        font-size: 35px;
        line-height: 0px;
        font-size: 22px;
        padding: 5px;
        color: var(--gris-claro);
        border-left: 2px solid var(--gris-oscuro);
        cursor: pointer;
    }

    .search__button:hover {
        color: var(--oracula);
        text-shadow: 0px 0px 10px var(--oracula);
    }


    /*---FOOTER---*/
    .footer__container {
        justify-content: space-evenly;
        align-items: center;
    }

    .links__link {
        line-height: 1.7em;
        color: #a9b2a2;
        text-decoration: none;
    }

    .links__link:hover {
        color: #FBB954;
    }

    .footer__logo {
        height: 100px;
    }

    .footer__logo-nombre {
        right: 25px;
    }

    .links_2ndColumn {
        display: block;
    }

    .adicional {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .adicional_logo {
        margin-bottom: 20px;
    }

    .adicional_redes button {
        font-size: 25px;
    }


}