/*paleta de colores 
Morado: #45293f; 
marron claro: #B0A987
Gris claro: #a9b2a2
Gris iconos body(intermedio): #788a87
Gris oscuro: #576069
Amarillo anaranjado: #FBB954
Naranja: #CD683D
Terracota: #993D41
Filtro: #171B27 - opacidad 54%
*/
:root {
    --morado: #45293f;
    --marron-claro: #B0A987;
    --gris-claro: #a9b2a2;
    --gris-iconos-body: #788a87;
    --gris-oscuro: #576069;
    --amarillo-anaranjado: #FBB954;
    --naranja: #CD683D;
    --terracota: #993D41;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", sans-serif;
}

ul,
li {
    list-style: none;
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    margin: 0;
}

div.fondo {
    background-image: url(/img/Fondos/BackgroundMob.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    z-index: -100;
}

.secciones,
.logo,
.botonesSuperiores,
.links_2ndColumn,
.adicional_redes {
    display: none;
}

.Burguer {
    justify-self: left;
    flex-grow: 0;
    padding: 2px;
}

#Burguer_icon {
    color: #FBB954;
    font-size: 50px;
    font-weight: bolder;
}

.header {
    background-color: #45293f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    z-index: 300;
    height: max-content;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.header__relleno {
    height: 58px;
}

button {
    background-color: transparent;
    border: none;
    color: #B0A987;
}

button :hover {
    color: #993D41;
}

a {
    color: #a9b2a2;
}

a:hover {
    color: #FBB954;
}


.Busqueda {
    padding: 5px;
    position: relative;
    flex-grow: 1;
}

.Busqueda_input {
    box-shadow: inset 2px 3px 3px #40423f;
    height: 28px;
    width: 100%;
    background-color: #576069;
    border: #576069;
    border-radius: 13px;
}

.Busqueda_button {
    color: #45293f;
    z-index: 2;
    font-size: 30px;
    position: absolute;
    right: 2%;
    top: 3px;
}

.basket {
    padding-right: 5px;
}

.basket button {
    color: #FBB954;
    font-size: 35px;
    flex-grow: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.footer__container {
    font-size: large;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    bottom: 1px;
    max-width: 1200px;
}

.links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding-left: 10px;
}

.adicional_logo {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 0px;
}

.footer__logo {
    display: flex;
    width: auto;
    height: 80px;
    display: flex;
}

.footer__logo-nombre {
    color: white;
    font-size: 14px;
    text-shadow: #45293f 2px 5px;
    position: absolute;
    bottom: 1px;
    right: 10px;
}

@media (min-width: 820px) {

    .adicional_redes,
    .adicional,
    .secciones,
    .logo,
    .header__logo,
    .botonesSuperiores,
    .botonesSuperiores__lista,
    .botonesSuperiores__elemento {
        display: flex;
    }

    .basket,
    .Burguer,
    .Busqueda {
        display: none;
    }

    div.fondo {
        background-image: url(/img/Fondos/Background.jpg);
        background-size: cover;
    }

    .header {
        position: fixed;
        height: max-content;
    }

    .header__relleno {
        height: 84px;
    }

    .header__logo {
        width: 70px;
        margin: 5px 0px 10px 20px;
    }

    .links_2ndColumn {
        display: block;
    }

    .secciones {
        justify-content: space-between;
        width: 50%;
        max-width: 550px;
        min-width: 450px;
    }

    .secciones__lista {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .secciones__elemento {
        font-size: 24px;
        color: #FBB954;
    }

    .secciones__icon {
        color: var(--marron-claro);
    }

    .secciones button:hover {
        background-color: rgba(23, 27, 39, 0.5);
    }

    .botonesSuperiores {
        width: 30%;
        ;
        margin: 0px;
        margin-right: 10px;
        max-width: 300px;
    }

    .botonesSuperiores__lista {
        justify-content: space-evenly;
        width: 100%;
    }

    .botonesSuperiores__boton {
        font-size: 30px;
    }

    .botonesSuperiores_Login {
        position: relative;
    }

    #logoEntrar2 {
        position: relative;
        color: #B0A987;
        opacity: 0.8;
        font-size: 40px;
        left: 11px;
    }

    #logoEntrar1 {
        color: #B0A987;
        opacity: 0.8;
        font-size: 1.5em;
    }

    .botonesSuperiores_Login--texto {
        color: white;
        font-size: 22px;
        padding-bottom: 2px;
        margin: 0px;
        position: absolute;
        bottom: -8px;
        z-index: 2;
    }

    .botonesSuperiores_Login--texto:hover {
        background-color: transparent;
        font-size: 25px;
    }

    .adicional {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .adicional_logo {
        margin-bottom: 20px;
    }

    .footer__container {
        justify-content: space-evenly;
        align-items: center;
    }

    .links__link {
        line-height: 1.7em;
    }

    .footer__logo {
        height: 100px;
    }

    .footer__logo-nombre {
        right: 25px;
    }

    .adicional_redes button {
        font-size: 25px;
    }
}