/*paleta de colores )
Filtro: #171B27 - opacidad 54%
*/
:root {
    --morado-oscuro: #2E222F;
    --morado: #45293f;
    --vino: #7A3045;
    --terracota: #993D41;
    --naranja: #CD683D;
    --amarillo-naranja: #FBB954;
    --amarillo: #F2EC8B;
    --marron-claro: #B0A987;
    --khaki: #997F73;
    --gris-rojizo: #665964;
    --gris--morado: #443846;
    --gris-oscuro: #576069;
    --gris-turquesa: #788a87;
    --gris-claro: #a9b2a2;
    --filtro: rgba(69, 41, 63, 0.5);
}

.main {
    margin-bottom: 30px;
}

.presentacion {
    padding-top: 20px;
    background-color: var(--filtro);
    animation-name: presentacion;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.presentacion__container {
    max-width: 1200px;
    margin: auto;
}

.presentacion--tituloChico {
    font-size: 1.5em;
    text-align: center;
    color: var(--naranja);
}

.presentacion--tituloGrande {
    font-size: 2.5em;
    text-align: center;
    color: var(--gris-turquesa);
    margin: 20px 0px 20px;
}

.presentacion--texto {
    width: 100%;
    padding: 20px 20px;
    color: var(--gris-claro);
    text-align: justify;
    border-top: var(--naranja) 1px solid;
}

@keyframes presentacion {
    0% {
        visibility: hidden;
        transform: translate(0px, -300px);
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 70%
    }

    100% {
        visibility: visible;
        transform: translate(0px);
    }
}

.categorias {
    margin: 25px 0px;
    width: 100%;
    border: var(--naranja) 1pz solid;
}

.categorias__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.categorias--nombre {
    font-size: 16px;
    display: none;
}

.categorias button {
    padding: auto;
    font-size: 6.5vw;
}

.categorias_creadorxs,
.categorias_soundtracks {
    display: none;
}

.categorias button:hover {
    font-size: 9.5vw;
}

.categorias button:hover .categorias--nombre {
    display: block;
    color: var(--gris-claro);
    text-shadow: 2px 0px rgb(19, 4, 15);
}

.destacados {
    background-color: var(--filtro);
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.destacados__container {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.destacados__titulo,
.novedades__titulo,
.otros__titulo {
    text-align: center;
    color: var(--amarillo-naranja);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.otros__titulo {
    display: none;
}

.destacados_descripcion {
    color: var(--amarillo-naranja);
    font-size: 5vw;
    text-shadow: 2px 0px rgb(19, 4, 15);
    position: absolute;
    width: 80%;
    top:15%;
    left: 5%;
}


.destacados__imagen {
    width: 100%;
    margin: auto;
}

.destacados span {
    font-size: 4.5vw;
    position: absolute;
    color: white;
    top: 75%;
    right: 20%;
    transition: font-size 150ms;
    padding: 2px;
}

.destacados span:hover {
    background-color: var(--filtro);
    font-size: 1.5em;
}

.next {
    font-size: 1.5em;
    position: absolute;
    color: white;
    bottom: 35%;
}

.back {
    font-size: 1.5em;
    position: absolute;
    color: white;
    bottom: 35%;
    right: 90%
}


.novedades {
    display: flex;
    flex-direction: column;
    background-color: var(--filtro);
    height: max-content;
    padding: 10px 0px;
}

.novedades__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95vw;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
    overflow-x: scroll;
    height: max-content;
}

.novedades_product--titulo {
    width: 100%;
    font-size: 18px;
}

.novedades_product {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 185px;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.novedades_product--tipo {
    width: 100%;
    font-size: 18px;
    color: var(--gris-claro);
    text-shadow: 2px 2px 0px var(--morado);
}

div.novedades_product--descripcion {
    background-color: var(--filtro);
    text-shadow: 2px 2px 0px var(--naranja);
    width: 100%;
    color: white;
    text-align: justify;
    border-top: var(--naranja) 1px solid;
    visibility: collapse;
    width: 400px;
    background-position-x: center;
}

div.novedades_product--icons {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    color: var(--morado);
    background-color: var(--gris-claro);
    position: relative;
    left: 90px;
    top: 10px;
    font-size: 40px;
    visibility: hidden;
}

div.novedades_product--icons:hover {
    color: var(--naranja);
}

.novedades_product#uno {
    background-image: url(/img/productos/multimedia/strangeWorld.jpg);
}

.novedades_product#dos {
    background-image: url(/img/productos/juegos/stardewvaley.png);
}

.novedades_product#tres {
    background-image: url(/img/productos/fanart/HPFans.jpg);
}

.novedades_product#cuatro {
    background-image: url(/img/productos/literatura/Audiolibros.jpg);
}

.novedades_product#cinco {
    background-image: url(/img/productos/literatura/AliciaIlustrado.jpg);
}

.novedades_product#seis {
    background-image: url(/img/productos/multimedia/lordOfRingsSound.jpg);
}

.novedades_product#siete {
    background-image: url(/img/productos/baratijas/mundoDisco.jpg);
}



.novedades_product:hover div.novedades_product--descripcion {
    visibility: visible;
}

.novedades_product:hover div.novedades_product--icons {
    visibility: visible;
}

.productos {
    display: none;
}

/*Media query*/


@media (min-width: 820px) {

    .presentacion--tituloChico {
        font-size: 2em;
    }

    .presentacion--tituloGrande {
        font-size: 2.5em;
    }

    .presentacion--texto {
        font-size: 1.5em;
    }

    .categorias_creadorxs,
    .categorias_soundtracks {
        display: block;
    }

    .categorias__container {
        margin: auto;
        text-align: center;
        justify-items: center;
        flex-wrap: nowrap;
    }

    .categorias--nombre {
        font-size: 24px;
    }

    .categorias button {
        display: flex;
        font-size: 50px;
        flex-direction: column;
        margin: 2vw;
        width: 15vw;
    }

    .categorias button:hover {
        font-size: 80px;
    }

    .novedades_product {
        height: 250px;
        width: max-content;
        animation-name: novedades;
        animation-duration: 60s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    div.novedades_product--descripcion {
        font-size: 20px;
    }

    .novedades_product--tipo {
        font-size: 20px;
    }
    .destacados,
    .novedades,
    .productos{
        margin-bottom: 60px;
    }
    .destacados span {
        font-size: xx-large;
    }

    .destacados span:hover {
        font-size: 2.5em;
    }

    .destacados_descripcion {
        color: var(--amarillo-naranja);
        font-size: 2.5em;
        text-shadow: 2px 0px rgb(19, 4, 15);
        position: absolute;
    }

    @keyframes novedades {
        10% {
            transform: translate(0px)
        }

        50% {
            transform: translate(-1200px)
        }

        100% {
            transform: translate(0px)
        }
    }

    .novedades__titulo,
    .destacados__titulo,
    .otros__titulo {
        font-size: 40px;
        margin:15px 0px;
    }

    .otros__titulo {
        display: block;
        margin-top: 25px;
    }

    .productos {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 85%;
        max-width: 1000px;
        margin: auto;
        margin-top: 15px;
        justify-content: center;
    }

    .productos_horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        padding: 10px 0;


    }

    .productos_horizontal div {
        display: flex;
        flex-grow: 1;
        max-height: 49%;
        width: 100%;
        margin: 0px;
        position: relative;
    }

    .productos_horizontal div {
        background-image: url(/img/Fondos/circulo.png);
        background-size: cover;
        background-position: center;
        background-color: var(--filtro);
        flex-direction: column;
        align-items: center;
        position: relative;
    }


    .productos_imgFuera {
        display: flex;
        background-color: var(--morado);
        height: auto;
        margin: 10px;
        width: 100%;
    }

    .productos_imgHorizontal {
        display: flex;
        background-color: var(--morado);
        height: 100%;
        width: 100%;
    }


    .imgFuera--sombra {
        display: flex;
        height: auto;
        width: 50%;
        padding: 0;
        ;
    }

    .imgFuera--sombra :hover,
    .zonaFans:hover {
        position: relative;
        bottom: 15px;
        left: 20px;
        z-index: 1;
        box-shadow: 0px 0px 15px white;
    }


    .productos__titulo {
        font-size: 50px;
        margin: 10px;
        text-shadow: 2px 0px white;
    }

    .productos__descripcion {
        font-size: 20px;
        width: 85%;
        font-weight: bolder;
    }

    .productos__icono {
        font-size: 120px;
        color: var(--gris-claro);
    }

}

@Media (min-width: 1000px) {

    .presentacion {
        padding-bottom: 40px;
    }

    .presentacion--tituloChico {
        font-size: 2.5em;
    }

    .presentacion--tituloGrande {
        font-size: 3em;
    }

    .productos__titulo {
        font-size: 70px;
    }

    .productos__descripcion {
        font-size: 2rem;
        width: 85%;
        font-weight: bold;
        text-shadow: 1px 0px white;
    }

}