
/*paleta de colores 
Morado: #45293f; 
marron claro: #B0A987
Gris claro: #a9b2a2
Gris iconos body(intermedio): #788a87
Gris oscuro: #576069
Amarillo anaranjado: #FBB954
Naranja: #CD683D
Terracota: #993D41
Filtro: #171B27 - opacidad 54%
*/


article.Presentacion{
    padding-top: 11vh;
    background-color: rgba(69, 41, 63, 0.5);
    animation-name: presentacion;
    animation-duration: 8s;
    animation-iteration-count: 1;
}
.Presentacion--tituloChico{
font-size: 1.5em;
text-align: center;
color: #CD683D;
}

.Presentacion--tituloGrande{
    font-size: 2em;
    text-align: center;
    color: #CD683D;
}

.Presentacion--texto{
    margin: 2vh 5vw;
    padding: 2vh 2vw 3.5vh;
    color: #d4ceac;
    text-align: justify;
    border-top: #CD683D 1px solid;
}

@keyframes presentacion {
    0%{
        visibility: hidden;
        transform: translate(0px, -300px);
     }
     25%{
        opacity: 25%;
     }
     50%{
        opacity: 50%;
    }
    75%{
        opacity:70%
    }
    100%{
        visibility: visible;
        transform: translate(0px);
    }
}
.Categorias{
    margin: 5vh 1vw;
    display: flex;
    border: #CD683D 1pz solid;
}

.Categorias--nombre{
    font-size: 3vw;
    display: none;
}
.Categorias button{
    padding: auto;
    font-size: 4.5vh;
}
.Categorias_creadorxs, .Categorias_soundtracks{
    display: none;
}

.Categorias button:hover{
    font-size: 40px;
}
.Categorias button:hover .Categorias--nombre{
    display: block;
    color: #CD683D;
}
 h2{
     text-align: center;
     color: #FBB954;
     font-size: 1.5em;
 }
.Scroll{
 display: flex;
 flex-wrap:nowrap;
 justify-content: space-between;
width: auto;
border: #CD683D 1px solid;
background-color: rgba(69, 41, 63, 0.5);
height: max-content;
padding: 10px;
overflow-x: scroll;
}
.Scroll_product{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
width: 350px;
height: 185px;
margin: 3px;
padding: 0;
display: inline-block;
background-size: cover;
}
.Scroll_product--tipo{
    padding: 2px;
    font-size: 1em;
    color: antiquewhite;
    text-shadow: 2px 2px 0px #45293f;
}
div.Scroll_product--descripcion{
    background-color: rgba(69, 41, 63, 0.9);
    text-shadow: 2px 2px 0px #CD683D;
    margin-top: 5px;
    padding: 2vh 2vw;
    color: white;
    text-align: justify;
    border-top: #CD683D 1px solid;
    visibility: collapse;
    width: max-content;
    background-position-x: center;
}
div.Scroll_product--icons{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    color: #45293f;
    background-color: #d4ceac;
    position: relative;
    left: 90px;
    top: 10px;
    font-size: 40px;
    visibility: hidden;
}
div.Scroll_product--icons:hover{
    color: #CD683D;
}

.Scroll_product#uno{
background-image: url(/img/productos/multimedia/strangeWorld.jpg);
}
.Scroll_product#dos{
    background-image: url(/img/productos/juegos/stardewvaley.png);
}
.Scroll_product#tres{
    background-image: url(/img/productos/fanart/HPFans.jpg);
}
.Scroll_product#cuatro{
    background-image: url(/img/productos/literatura/Audiolibros.jpg);
}
.Scroll_product#cinco{
    background-image: url(/img/productos/literatura/AliciaIlustrado.jpg);
}

.Scroll_product#seis{
    background-image: url(/img/productos/multimedia/lordOfRingsSound.jpg);
}
.Scroll_product#siete{
    background-image: url(/img/productos/baratijas/mundoDisco.jpg);
}



.Scroll_product:hover div.Scroll_product--descripcion{
     visibility: visible;
}
.Scroll_product:hover div.Scroll_product--icons{
    visibility: visible;
}

/*Media query*/

@media (min-width: 820px) {

    .Presentacion--tituloChico{
        font-size: 2em;
    }
    .Presentacion--tituloGrande{
        font-size: 2.5em;
    }
    .Presentacion--texto{
        font-size: 1.5em;
    }
    .Categorias_creadorxs, .Categorias_soundtracks{
        display: block;
    }

    .Categorias{
        margin: 0;
        text-align: center;
        justify-items: center;
        flex-wrap: nowrap;
    }
    .Categorias button{
        display: flex;
        flex-direction: column;
        margin:2vw;
        width: 15vw;
    }
    .Scroll_product{
        height: 250px;
        width: max-content;
        animation-name: novedades;
        animation-duration: 260s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    
    div.Scroll_product--descripcion{
    font-size: x-large;
    }
    .Scroll_product--tipo{
        font-size: 1.5em;
    }
    @keyframes novedades {
        0%{
            transform: translate(0px)
            
        }    
        20% {
            transform: translate(-505px);
        }
    
        28% {
            transform: translate(-470px);
        }
        43%{
            transform: translate(-980px);
        }
        57%{
            transform: translate(-1463px);
        }
        71%{
            transform: translate(-1879px);
        }
        100%{
            transform: translate(-2290px);
        }
    }
}
    