
/*paleta de colores 
Morado: #45293f; 
marron claro: #B0A987
Gris claro: #a9b2a2
Gris iconos body(intermedio): #788a87
Gris oscuro: #576069
Amarillo anaranjado: #FBB954
Naranja: #CD683D
Terracota: #993D41
Filtro: #171B27 - opacidad 54%
*/

*{
    font-family: 'Playfair Display', serif;
}
article.Presentacion{
    padding-top: 11vh;
    background-color: rgba(69, 41, 63, 0.5);
}
.Presentacion--tituloChico{
font-size: 1.5em;
text-align: center;
color: #CD683D;
}
.Presentacion--tituloGrande{
    font-size: 2em;
    text-align: center;
    color: #CD683D;
}

.Presentacion--texto{
    margin: 2vh 5vw;
    padding: 2vh 2vw 3.5vh;
    color: #d4ceac;
    text-align: justify;
    border-top: #CD683D 1px solid;
}

.Categorias{
    margin: 5vh 1vw;
    display: flex;
    border: #CD683D 1pz solid;
}

.Categorias--nombre{
    font-size: 3vw;
    display: none;
}
.Categorias button{
    padding: auto;
    font-size: 4.5vh;
}
.Categorias_creadorxs, .Categorias_soundtracks{
    display: none;
}

.Categorias button:hover{
    font-size: 40px;
}
.Categorias button:hover .Categorias--nombre{
    display: block;
    color: #CD683D;
}
 
.Scroll{
 display: flex;
 flex-wrap:nowrap;
 justify-content: space-between;
width: auto;
border: #CD683D 1px solid;
height: max-content;
padding: 10px;
overflow-x: scroll;
}
.Scroll_product{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
width: 350px;
height: 185px;
margin: 3px;
padding: 0;
display: inline-block;
background-size: cover;
}
.Scroll_product--tipo{
    padding: 2px;
    font-size: 1em;
    color: antiquewhite;
    text-shadow: 2px 2px 0px #45293f;
}
div.Scroll_product--descripcion{
    background-color: rgba(69, 41, 63, 0.9);
    text-shadow: 2px 2px 0px #CD683D;
    margin-top: 5px;
    padding: 2vh 2vw;
    color: white;
    text-align: justify;
    border-top: #CD683D 1px solid;
    visibility: collapse;
    width: max-content;
}
div.Scroll_product--icons{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    color: #45293f;
    background-color: #d4ceac;
    position: relative;
    left: 90px;
    top: 10px;
    font-size: 40px;
    visibility: hidden;
}

.Scroll_product#uno{
background-image: url(/img/productos/multimedia/strangeWorld.jpg);
}
.Scroll_product#dos{
    background-image: url(/img/productos/juegos/stardewvaley.png);
}
.Scroll_product#tres{
    background-image: url(/img/productos/fanart/HPFans.jpg);
}
.Scroll_product#cuatro{
    background-image: url(/img/productos/literatura/Audiolibros.jpg);
}
.Scroll_product#cinco{
    background-image: url(/img/productos/literatura/AliciaIlustrado.jpg);
}

.Scroll_product#seis{
    background-image: url(/img/productos/multimedia/lordOfRingsSound.jpg);
}
.Scroll_product#siete{
    background-image: url(/img/productos/baratijas/mundoDisco.jpg);
}



.Scroll_product:hover div.Scroll_product--descripcion{
     visibility: visible;
}
.Scroll_product:hover div.Scroll_product--icons{
    visibility: visible;
}

/*Media query*/

@media (min-width: 820px) {
    .Categorias_creadorxs, .Categorias_soundtracks{
        display: block;
    }
    .Categorias{
        margin: 0;
        text-align: center;
        justify-items: center;
        flex-wrap: nowrap;
    }
    .Categorias button{
        display: flex;
        flex-direction: column;
        margin:2vw;
        width: 15vw;
    }
}
    