:root {
    --morado-oscuro: #2E222F;
    --morado: #45293f;
    --vino: #7A3045;
    --terracota: #993D41;
    --naranja: #CD683D;
    --amarillo-naranja: #FBB954;
    --amarillo: #F2EC8B;
    --marron-claro: #B0A987;
    --khaki: #997F73;
    --gris-rojizo: #665964;
    --gris--morado: #443846;
    --gris-oscuro: #576069;
    --gris-turquesa: #788a87;
    --gris-claro: #a9b2a2;
    --filtro: #45293f80;
    --oracula: #bddcf4;
    --green-valid: #0fb74a;
    --red-invalid: #e72d4f;
    --error-message: #ff7b7b;
}

.hidden {
    visibility: hidden;
}

.main {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 40px;
    color: var(--gris-claro);
    min-height: 70vh;
}

.titulo {
    display: flex;
    margin: 20px 0px 20px;
    justify-content: center;
    color: var(--amarillo-naranja);
}

.titulo__text {
    margin: 0px;
}

.boton-google__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--amarillo-naranja);
}

.formulario__container {
    background-color: rgba(69, 41, 63, 0.7);
    box-shadow: 10px 10px 20px 10px var(--morado-oscuro);
    width: 90%;
    max-width: 650px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
}

.formulario {
    justify-content: center;
    align-items: center;
}

.formulario__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.formulario__label {
    font-size: 22px;
    color: var(--oracula);
    text-align: left;
    align-self: start;
    margin-bottom: 10px;
}

.formulario__input {
    height: 35px;
    width: 100%;
    padding: 0px 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px grey solid;
    border-radius: 4px;
}

.formulario__error {
    height: 35px;
    font-size: 18px;
    color: var(--error-message);
    text-shadow: 0px 0px 5px black, 0px 0px 7px black;
}

.recordar-password {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.recordar-password__label {
    color: var(--gris-claro);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 5px;
}

.recordar-password__checkbox {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.formulario__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.label--secondary {
    color: var(--gris-claro);
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.formulario__link {
    text-decoration: underline;
}

.formulario__link:hover {
    color: var(--amarillo-naranja);
}

.input--valid {
    background-color: #d7fbe4;
}

.input--invalid {
    background-color: #fcdbe1;
}

.input--icon {
    font-size: 24px;
    position: absolute;
    top: 1.7em;
    right: 1.2em;
}

.icon--valid {
    color: var(--green-valid);
}

.icon--invalid {
    color: var(--red-invalid);
}

.formulario__icon-submit {
    color: var(--marron-claro);
    font-size: 40px;
    font-weight: bold;
    margin: 10px 20px;
    align-self: flex-end;
    transition: all 250ms;
}

.formulario__icon-submit:hover {
    color: var(--oracula);
    text-shadow: 0px 0px 50px var(--oracula);
}

@media (min-width: 820px) {

    .link-password-recover,
    .link-signup {
        font-size: 16px;
    }

    .formulario__icon-submit {
        font-size: 50px;
    }
}