:root {
    --morado-oscuro: #2E222F;
    --morado: #45293f;
    --vino: #7A3045;
    --terracota: #993D41;
    --naranja: #CD683D;
    --amarillo-naranja: #FBB954;
    --amarillo: #F2EC8B;
    --marron-claro: #B0A987;
    --khaki: #997F73;
    --gris-rojizo: #665964;
    --gris--morado: #443846;
    --gris-oscuro: #576069;
    --gris-turquesa: #788a87;
    --gris-claro: #a9b2a2;
    --filtro: #45293f80;
    --oracula: #bddcf4;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

h3 {
    color: var(--amarillo-naranja);
}

body {

    color: #FFFFFF;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}
main{
    margin-bottom: 18px;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    color: var(--amarillo-naranja);
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 10rem;
    border-radius: 0 0 20px 20px;
    color: var(--amarillo-naranja);
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--oracula);
    background-color: var(--oracula);
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0,0.6);
    background-color: rgb(46, 34, 47,0.7);
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 100%;
    list-style: none;
    font-size: 18px;
    color: var(--oracula);
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li i {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.perfil-usuario-button {
    display: inline-block;
    background-color: var(--morado);
    border-radius: 6px;
    font-size: 20px;
    color: var(--amarillo-naranja);
    text-decoration: none;
    padding: 10px 20px;
    transition: all 250ms;
    margin-left: auto;
    margin-top: 10px;
    align-self: end;
    box-shadow: 1px 1px 4px 1px black;
}

.perfil-usuario-button:hover {
    color: var(--oracula);
    background-color: var(--morado);
}


@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}