:root {
    --morado-oscuro: #2E222F;
    --morado: #45293f;
    --vino: #7A3045;
    --terracota: #993D41;
    --naranja: #CD683D;
    --amarillo-naranja: #FBB954;
    --amarillo: #F2EC8B;
    --marron-claro: #B0A987;
    --khaki: #997F73;
    --gris-rojizo: #665964;
    --gris--morado: #443846;
    --gris-oscuro: #576069;
    --gris-turquesa: #788a87;
    --gris-claro: #a9b2a2;
    --filtro: #45293f80;
    --oracula: #bddcf4;
}

.main{
    width: 100%;
    flex-direction: column;
    display:flex;
    margin-bottom: 40px;

}
.titulo{
    display: flex;
    margin: 20px 0px 20px;
    justify-content: center;
    color: var(--amarillo-naranja);
}
.titulo__text{
    margin:0px;
}

.boton-google__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--amarillo-anaranjado);
}
.boton-google{
    margin-top: 10px;
    height: 40px;
    font-weight: 1000;
    background-color: white;
    width: 110px;
    color: #CF4036;
    border: 2px solid #CF4036;
}
.boton-google:hover{
    position: relative;
    height: 50px;
    width: 120px;
    font-size: x-large;
}
.boton-google__text{
    color: var(--gris-claro);
}

.formulario{
    background-color: rgba(69, 41, 63, 0.5);
    box-shadow: 10px 10px 5px 0px black;
    width: 90%;
    max-width: 650px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
}
.formulario__item{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.formulario__label{
    font-size: 20px;
    font-weight: bold;
    color: var(--gris-claro);
    text-align: left;
    align-self: start;
    margin-bottom: 5px;
}
.formulario__input{
    height: 35px;
    width: 100%;
    background-color: rgb(240,240,240);
}

.formulario__submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input--small {
    max-width: 40%;
    min-width: 160px;
}

.formulario__icon-submit {
    color:var(--marron-claro);
    font-size: 40px;
    font-weight: bold;
    margin: 10px 20px;
    align-self: flex-end;
    transition: all 250ms;
}

.formulario__icon-submit:hover {
    color: var(--oracula);
    text-shadow: 0px 0px 50px var(--oracula);
}
.formulario--delete{
    height:0;
    justify-content: space-around;
   }
.formulario__icon-delete {
    color:var(--terracota);
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 250ms;
    position:relative;
    justify-content: right;
    align-items: right;
    display:flex;
    flex-wrap: wrap;
    }
.formulario__icon-delete:hover {
    color: var(--naranja);
    text-shadow: 0px 0px 50px var(--naranja);
}
.last-item{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

@media (min-width: 820px) {
    .formulario__icon-submit, 
    .formulario__icon-delete {
        font-size: 60px;
    }
    .formulario__icon-submit{
        font-size: 50px;
    }
    .formulario__icon-delete{
        margin-left: 100px;
        top:-99px;
        
    }
}