<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="formulario" action="/" method="get">
        <label class= "formulario__label" for="id">Id de producto: </label>
        <input class="formulario__input" type="" id="precio" name="precio">
        <%- include("./partials/crear.ejs")%>
</body>
</html>