<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--styles-->
    <link href="/css/general.css" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet" />

    <!--iconos-->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <title>Bienvenidxs a Oracula</title>
    <!--googleFonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <!--Logo-->
        <div class="Logo">
            <div></div> Orácula
        </div>
        <!--Hamburguesita-->
        <div class="Burguer">
            <button><i id="Burguer_icon" class="iconify" data-icon="eva:menu-fill"></i></button>
        </div>
        <!--Busqueda-->
        <form class="Busqueda" action="#" method="GET">
            <input class="Busqueda_input" type="search">
            <div><button class="Busqueda_button" class="submit"><i class="iconify" data-icon="pepicons:loop"></i>
            </div>
        </form>
        <!--Secciones categorias-->
        <nav class="Secciones">
            <ul>
                <li class="Secciones_magicPass"> <button class="categoriaBarraSup">Magic Pass<i class="iconify"
                            data-icon="fa6-solid:explosion"></i></button></li>
                <li class="Secciones_generos"> <button class="categoriaBarraSup">Géneros<i class="iconify"
                            data-icon="fa6-solid:hamsa"></i></button></li>
                <li class="Secciones_categorias"> <button class="categoriaBarraSup">Categorías<i class="iconify"
                            data-icon="mdi:bottle-tonic-outline"></i></button></li>
            </ul>
        </nav>
        <!--Botones-->
        <nav class="botonesSuperiores">
            <ul>
                <li><button class="botonesSuperiores_lupa"><i class="iconify" data-icon="fa:search"></i></button></li>
                <li><button class="botonesSuperiores_marcador"><i class="iconify"
                            data-icon="pepicons:bookmark-print"></i></button></li>
                <li><button class="botonesSuperiores_miniBasket"><i class="iconify" data-icon="mdi:basket"></i></button>
                </li>
                <li><button class="botonesSuperiores_Login">
                        <div class="botonesSuperiores_Login--texto">¡Ingresá!</div>
                        <i id="logoEntrar2" class="iconify" data-icon="arcticons:monument-valley"></i>
                        <i id="logoEntrar1" class="iconify" data-icon="bi:door-open-fill" data-flip="horizontal"></i>
                    </button></li>
            </ul>
        </nav>
        <!-- Canastita Mobile-->
        <nav class="Basket">
            <button><i class="iconify" data-icon="mdi:basket"></i></button>
        </nav>

    </header>
    <div class="fondo">
        <main>


            <article class="Presentacion">
                <h2 class="Presentacion--tituloChico"> Has llegado por fin a</h2>
                <h1 class="Presentacion--tituloGrande"> Oracula</h1>
                <div class="Presentacion--texto"> Tómate un descanso de tu viaje y observa este sitio maravilloso. <br>
                En el caldero de Orácula mezclamos todo aquello que nos llega desde universos fantásiticos. <br> ¡Y MagicPass es la herramienta que te permitirá acceder a nuestro contenido de forma ilimitada !</div>
            </article>

            <section class="Categorias">
                <button class="Categorias_magicPass"><i class="iconify" data-icon="fa-solid:cat"></i>
                    <div class="Categorias--nombre">MagicPass</div>
                </button>
                <button class="Categorias_baratijas"> <i class="iconify" data-icon="fa-solid:bone"></i>
                    <div class="Categorias--nombre">Baratijas</div>
                </button>
                <button class="Categorias_mutimedia"><i class="iconify" data-icon="fa6-solid:eye"></i></i>
                    <div class="Categorias--nombre">Multimedia</div>
                </button>
                <button class="Categorias_juegos"> <i class="iconify" data-icon="fa-solid:dice-d20"></i></i>
                    <div class="Categorias--nombre">Juegos</div>
                </button>
                <button class="Categorias_literatura"><span class="iconify" data-icon="el:fire"></span></i>
                    <div class="Categorias--nombre">Literatura</div>
                </button>
                <button class="Categorias_fans"><span class="iconify" data-icon="fa6-solid:frog"></span></i></i>
                    <div class="Categorias--nombre">Zona de Fans</div>
                </button>
                <button class="Categorias_soundtracks"><span class="iconify"
                        data-icon="mdi:music-clef-treble"></span></span></span></i></i>
                    <div class="Categorias--nombre">Soundtracks</div>
                </button>
                <button class="Categorias_creadorxs"><span class="iconify"
                        data-icon="bi:lightning-fill"></span></span></i></i>
                    <div class="Categorias--nombre">Creadorxs</div>
                </button>
            </section>
            <h2 class="tituloNovedades"> Lo que no te podés perder </h2>
            <section class="Scroll">
                    <div class="Scroll_product" id="uno">
                    <h4 class="Scroll_product--tipo">Pelicula</h4>
                    <h3 class="Scroll_product--titulo"></h3>
                    <div class="Scroll_product--descripcion">Strange World es la nueva aventura animada <br> de Disney.
                        <br> Te contamos de que vá, sin Spoilers!</div>
                </div>
                <div class="Scroll_product" id="dos">
                    <h4 class="Scroll_product--tipo">Juego</h4>
                    <h3 class="Scroll_product--titulo"></h3>
                    <div class="Scroll_product--descripcion">Stardew Valley es un juego de simulación <br> de granja
                        inspirado en juegos como <br> Harvest Moon.</div>
                    <div class="Scroll_product--icons"><i class="iconify" data-icon="mdi:basket"></i> <i class="iconify"
                            data-icon="pepicons:bookmark-print"></i></div>
                </div>

                <div class="Scroll_product" id="tres">
                    <h4 class="Scroll_product--tipo">Fan Art</h4>
                    <h3 class="Scroll_product--titulo"></h3>
                    <div class="Scroll_product--descripcion">Nunca dejamos de sorprendernos con lo que <br> crean lxs
                        fans!</div>
                </div>

                <div class="Scroll_product" id="cuatro">
                    <h4 class="Scroll_product--tipo">Audiolibro</h4>
                    <h3 class="Scroll_product--titulo"></h3>
                    <div class="Scroll_product--descripcion">¡Por fin alguien lo hizo! <br> Ahora podés escuchar la saga
                        <i>completa</i> de <br> Harry Potter narrada por humanxs. </div>
                    <div class="Scroll_product--icons"><i class="iconify" data-icon="mdi:basket"></i> <i class="iconify"
                            data-icon="pepicons:bookmark-print"></i></div>
                </div>

                <div class="Scroll_product" id="cinco">
                    <h4 class="Scroll_product--tipo">Libro</h4>
                    <h3 class="Scroll_product--titulo"></h3>
                    <div class="Scroll_product--descripcion">Alicia en el pais de las Maravillas <br> ilustrada <i>como
                            nunca</i> por Benjamin <br> Lacombe</div>
                    <div class="Scroll_product--icons"><i class="iconify" data-icon="mdi:basket"></i> <i class="iconify"
                            data-icon="pepicons:bookmark-print"></i></div>
                </div>

                <div class="Scroll_product" id="seis">
                    <h4 class="Scroll_product--tipo">Soundtrack</h4>
                    <div class="Scroll_product--descripcion">Escuchá 3 horas seguidas de El Señor <br> de los Anillos y
                        viajá a La Tierra Media <br> sin anuncios del mal.</div>
                    <div class="Scroll_product--icons"><i class="iconify" data-icon="mdi:basket"></i> <i class="iconify"
                            data-icon="pepicons:bookmark-print"></i></div>
                </div>

                <div class="Scroll_product" id="siete">
                    <h4 class="Scroll_product--tipo">Baratijas</h4>
                    <h3 class="Scroll_product--titulo"></h3>
                    <div class="Scroll_product--descripcion">¡Maravilloso! ¡Coleccionables de Mundo Disco! <br> Por
                        supuesto el equipaje se robó nuestros co.. <br> Esperen... ¿dónde está Nico? </div>
                    <div class="Scroll_product--icons"><i class="iconify" data-icon="mdi:basket"></i> <i class="iconify"
                            data-icon="pepicons:bookmark-print"></i></div>
                </div>


            </section>




        </main>

       
    </div>
    


</body>

</html>