<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--styles-->
    <link href="/css/general.css" rel="stylesheet" />
    <!--iconos-->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <title>Bienvenidxs a Oracula</title>
    <!--googleFonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <div class="fondo">

        <header>
            <div class="logoBox">
                <img class="logo" src="/img/design/Logo/blancV2ojo.png" alt="Logo de Oracula">
                <div class="nombre2">Orácula</div>
            </div>
            <div class="burger-menu">
                <span id="hamburguesita" class="iconify" data-icon="eva:menu-fill"></span>
            </div>
            <div class="busqueda">
                <form action="#" method="GET">
                    <input class="searchBar" type="search">
                    <div><button class="lupa" class="submit"><i class="iconify" data-icon="pepicons:loop"></i></div>
                </form>
            </div>

            <section class="navs">
                <nav id="barraDesktop">
                    <ul>
                        <li class="liBarraSup" id="magicPass"> <button class="categoriaBarraSup">Magic Pass<span class="iconify" data-icon="fa6-solid:explosion"></span></button></li>
                        <li class="liBarraSup"> <button class="categoriaBarraSup">Géneros<span class="iconify" data-icon="fa6-solid:hamsa"></span></button></li>
                        <li class="liBarraSup"> <button class="categoriaBarraSup">Categorías<span class="iconify" data-icon="mdi:bottle-tonic-outline"></span></button></li>
                    </ul>
                </nav>
                <nav id="botonesDesktop">
                    <ul>
                        <li><button id="lupa"><i class="iconify" data-icon="fa:search"></i></button></li>
                        <li><button id="marcador"><i class="iconify" data-icon="pepicons:bookmark-print"></i></button></li>
                        <li><button id="miniBasket"><i class="iconify" data-icon="mdi:basket"></i></button></li>
                        <li><button id="Login"> <div id="ingr">¡Ingresá!</div><span id="logoEntrar2" class="iconify" data-icon="arcticons:monument-valley"></span><span id="logoEntrar1" class="iconify" data-icon="bi:door-open-fill" data-flip="horizontal"></span></button></li>
                    </ul>
                </nav>
                <nav id="botonesMobile">
                    <button id="basket"><i class="iconify" data-icon="mdi:basket"></i></button>
                </nav>
            </section>
        </header>

        <main>
            
        </main>
        <footer>
            <section id="footerDesktop">
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Acerca de Orácula</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Contactanos!</a></li>
                </ul>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">¿Por qué no hay publicidad?</a></li>
                    <li><a href="#">Privacidad y cookies</a></li>
                    <li><a href="#">Sobre nuestra app</a></li>
                </ul>
                <ul>
                    <div class="logoDiv">
                        <img class="logo" src="/img/design/Logo/blancV2ojo.png" alt="">
                        <div class="nombre">Orácula</div>
                    </div>
                    <div class="redes">
                        <button class="red"><i class="iconify" data-icon="bi:instagram"></i></button>
                        <button class="red"><i class="iconify" data-icon="fe:twitter"></i></button>
                        <button class="red"><i class="iconify" data-icon="simple-line-icons:social-tumblr"></i></button>
                        <button class="red"><i class="iconify" data-icon="carbon:logo-pinterest"></i></button>
                    </div>
                </ul>
            </section>
            <section id="footerMobile">
                <ul>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contactanos!</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Privacidad y cookies</a></li>
                </ul>
                <div class="logoDiv">
                    <img class="logo" src="/img/design/Logo/blancV2ojo.png" alt="Logo de Orácula">
                    <div class="nombre">Orácula</div>
                </div>

            </section>

        </footer>
    </div>
</body>

</html>