<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
</head>

<body>
    <div class="fondo">
        <!-- HEADER -->
        <%- include('./partials/header.ejs')%>
            <!-- MAIN -->
            <main>
                <form class="formulario" action="/" method="get">
                    <%- include("./partials/crearProductoPartial.ejs")%>
            </main>
            <!-- FOOTER -->
            <%- include('./partials/footer.ejs')%>
    </div>
</body>

</html>