<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="fondo">
        <!--header-->
        <%- include('./partials/header.ejs')%>
        <!--main-->
        <main class="main">
            <section class="titulo">
                <h1 class="titulo__text">Creá Tu Cuenta</h1>
            </section>
            <section class="formulario__box">
                <div class="boton-google__container">
                    <label class="boton-google__text" for="google">Creá tu cuenta con</label>
                    <button class="boton-google" type="submit" id="google" name="google">
                        <i class="fa-brands fa-google"></i>
                        Google
                    </button>
                </div>
                    <!-- PROVISIORIAMENTE EN METHOD = "GET" -->
                    <form class="formulario" action="/" method="get">
                        <div class="formulario__item">
                            <label class="formulario__label" for="email">Email:</label>
                            <input class="formulario__input" type="email" id="email" name="email">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="nombre">Nombre:</label>
                            <input class="formulario__input" type="text" id="nombre" name="nombre">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="apellido">Apellido:</label>
                            <input class="formulario__input" type="text" id="apellido" name="apellido">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="password">Contraseña:</label>
                            <input class="formulario__input" type="password" id="password" name="password">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="password-repetir">Repita su Contraseña:</label>
                            <input class="formulario__input" type="password" id="password-repetir"
                                name="password-repetir">
                        </div>
                        <div class="formulario__submit">
                            <p class="link-login">¿Ya tenés cuenta? <a href="/user/login">Ingresá acá.</a></p>
                            <button type="submit">
                                <i class="fa-solid fa-circle-arrow-right formulario__icon-submit"></i>
                            </button>
                        </div>
                    </form>
            </section>
        </main>
        <!--footer-->
        <%- include('./partials/footer.ejs')%>
    </div>
</body>

</html>