<footer class="contenedor--sombra">
  <div class="footer__container">
    <section class="links">
      <ul class="links_1stColumn">
        <li >
          <a class="links__link" href="#">Quiénes somos</a>
        </li>
        <li >
          <a class="links__link" href="#">FAQs</a>
        </li>
        <li >
          <a class="links__link" href="#">¡Contactanos!</a>
        </li>
        <li >
          <a class="links__link" href="#">Términos y condiciones</a>
        </li>
      </ul>
      <ul class="links_2ndColumn">
        <li >
          <a class="links__link" href="#">Privacidad y cookies</a>
        </li>
        <li >
          <a class="links__link" href="#">Acerca de Orácula</a>
        </li>
        <li >
          <a class="links__link" href="#">Sobre nuestra app</a>
        </li>
        <li >
          <a class="links__link" href="#">¿Por qué no hay publicidad?</a>
        </li>
      </ul>
    </section>
    <section class="adicional">
      <div class="adicional_logo">
        <a href="/"><img class="footer__logo" src="/img/Logo/blancV2ojo.png" alt="Logo de Oracula"></a>
        <a href="/">
          <div class="footer__logo-nombre">Orácula</div>
        </a>
      </div>
      <div class="adicional_redes">
        <button class="redes_instagram footer__icon"><i class="iconify" data-icon="bi:instagram"></i></button>
        <button class="redes_twitter footer__icon"><i class="iconify" data-icon="fe:twitter"></i></button>
        <button class="redes_tumblr footer__icon"><i class="iconify" data-icon="simple-line-icons:social-tumblr"></i></button>
        <button class="redes_pinterest footer__icon"><i class="iconify" data-icon="carbon:logo-pinterest"></i></button>
      </div>
    </section>
  </div>
</footer>