<header>
    <div class="header">
        <!--Logo-->
        <div class="header__container">
            <div class="logo">
                <a href="/"><img class="header__logo" src="/img/Logo/blancV2ojo.png" alt="Logo de Oracula"></a>
            </div>
            <!--Hamburguesita-->
            <div class="Burguer">
                <button><i id="Burguer_icon" class="iconify" data-icon="eva:menu-fill"></i></button>
            </div>
            <!--Busqueda-->
            <form class="Busqueda" action="#" method="GET">
                <input class="Busqueda_input" type="search">
                <div>
                    <button class="Busqueda_button" class="submit">
                        <i class="iconify" data-icon="pepicons:loop"></i>
                    </button>
                </div>
            </form>
            <!-- Canastita Mobile-->
            <nav class="basket">
                <button><i class="iconify" data-icon="mdi:basket"></i></button>
            </nav>
            <!--Secciones categorias-->
            <nav class="secciones">
                <ul class="secciones__lista">
                    <li>
                        <button class="secciones__elemento secciones--magicPass">
                            <i class="iconify secciones__icon" data-icon="fa6-solid:explosion"></i>
                            Magic Pass
                        </button>
                    </li>
                    <!-- <li>
                        <button class="secciones__elemento secciones--generos" onclick="mostrarMenu('menu--generos', 'menu--categorias', 'menu--admin')">
                            <i class="iconify secciones__icon" data-icon="fa6-solid:hamsa"></i>
                            Géneros
                        </button>
                    </li> -->
                    <li>
                        <button class="secciones__elemento secciones--categorias" onclick="mostrarMenu('menu--categorias', 'menu--generos', 'menu--admin')">
                            <i class="iconify secciones__icon" data-icon="mdi:bottle-tonic-outline"></i>
                            Categorías
                        </button>
                    </li>
                    <li>
                        <button class="secciones__elemento secciones--admin" onclick="mostrarMenu('menu--admin','menu--generos','menu--categorias')">
                            <i class="fa-solid fa-toolbox secciones__icon"></i>
                            Admin
                        </button>
                    </li>
                </ul>
            </nav>
            <!--Botones-->
            <nav class="botonesSuperiores">
                <ul class="botonesSuperiores__lista">
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores__boton">
                            <i class="iconify secciones__icon" data-icon="fa:search"></i>
                        </button>
                    </li>
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores__boton">
                            <a href="/product/product"><i class="iconify secciones__icon"
                                    data-icon="pepicons:bookmark-print"></i></a>
                        </button>
                    </li>
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores__boton">
                            <a href="/product/cart"><i class="iconify secciones__icon" data-icon="mdi:basket"></i></a>
                        </button>
                    </li>
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores_Login">
                            <a href="/user/login">
                                <div class="botonesSuperiores_Login--texto">¡Ingresá!</div>
                            </a>
                            <i id="logoEntrar2" class="iconify  secciones__icon"
                                data-icon="arcticons:monument-valley"></i>
                            <i id="logoEntrar1" class="iconify  secciones__icon" data-icon="bi:door-open-fill"
                                data-flip="horizontal"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <!--Menú desplegable--> 
        <nav class="menu__container" id="menu__container">
            <ul class="menu menu--generos" onmouseleave="ocultarMenu('menu--generos')">
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/">
                        <img class="menu__imagen" src="/img/productos/literatura/AliciaIlustrado.jpg"
                            alt="Imagen de Literatura">
                        <h4 class="menu__description">Literatura</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/">
                        <img class="menu__imagen" src="/img/productos/juegos/stardewValley.png" alt="">
                        <h4 class="menu__description">Juegos</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/">
                        <img class="menu__imagen" src="/img/productos/baratijas/mundoDisco.jpg" alt="">
                        <h4 class="menu__description">Baratijas</h4>
                    </a>
                </li>
            </ul>
            <ul class="menu menu--categorias" onmouseleave="ocultarMenu('menu--categorias')">
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/category/literatura">
                        <img class="menu__imagen" src="/img/productos/literatura/AliciaIlustrado.jpg"
                            alt="Imagen de Literatura">
                        <h4 class="menu__description">Literatura</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/category/juegos">
                        <img class="menu__imagen" src="/img/productos/juegos/stardewValley.png" alt="">
                        <h4 class="menu__description">Juegos</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/category/baratijas">
                        <img class="menu__imagen" src="/img/productos/baratijas/mundoDisco.jpg" alt="">
                        <h4 class="menu__description">Baratijas</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="/category/multimedia">
                        <img class="menu__imagen" src="/img/productos/multimedia/lordOfRingsSound.jpg" alt="">
                        <h4 class="menu__description">Audiovisuales</h4>
                    </a>
                </li>
            </ul>
            <ul class="menu menu--admin" onmouseleave="ocultarMenu('menu--admin')">
                <li class="menu__item">
                    <a class="menu__link" href="/product/create">
                        <h4 class="menu__description">Registrar Producto</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/product/list">
                        <h4 class="menu__description">Ver Productos</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/user/signup">
                        <h4 class="menu__description">Registrar Usuarix</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="LINK">
                        <h4 class="menu__description">Ver Usuarixs</h4>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--Script-->
    <script>
        //Hace que el display de todos los menus empiece en None
        function setDisplayNoneMenus() {
            let menus = document.getElementsByClassName("menu");
            for (let i = 0; i < menus.length; i++) {
                menus[i].style.display = "none";
            }
        }
        setDisplayNoneMenus();
        
        //Cambia el display del menu que se le pase
        function setDisplayNoneSingleMenu(menu) {
            for (let i = 0; i < menu.length; i++) {
                menu[i].style.display = "none";
            }
        }
        
        //Muestra un menú: recibe el menú a mostrar, y los dos menús a ocultar.
        function mostrarMenu(menuSeleccionado, menuOcultar1, menuOcultar2) {
            setDisplayNoneSingleMenu(document.getElementsByClassName(menuOcultar1));
            setDisplayNoneSingleMenu(document.getElementsByClassName(menuOcultar2));
            let menu = document.getElementsByClassName(menuSeleccionado);
            for (let i = 0; i < menu.length; i++) {
                if (menu[i].style.display == "none") {
                    menu[i].style.display = "flex";
                    document.getElementById("menu__container").style.boxShadow = "0 1050px 10px 1000px rgba(0,0,0,0.6)";
                } else {
                    menu[i].style.display = "none"
                    document.getElementById("menu__container").style.boxShadow = "";

                }
            }
        }
        
        //Oculta un menú
        function ocultarMenu(menuName) {
            let menus = document.getElementsByClassName(menuName);
            for (let i = 0; i < menus.length; i++) {
                menus[i].style.display = "none";
                document.getElementById("menu__container").style.boxShadow = "";
            }Menu
        }
    </script>
</header>