<header>
    <div class="header contenedor--sombra">
        <!--Logo-->
        <div class="header__container">
            <div class="logo--minimalista">
                <a class="header__logo-container" href="/">
                    <img class="header__logo--minimalista" src="/img/Logo/blancV2ojo.png" alt="Logo de Oracula">
                    <h1 class="header__titulo--minimalista">Orácula</h1>
                </a>

            </div>
        </div>
    </div>

</header>