<header>
    <div class="header">
        <!--Logo-->
        <div class="header__container">
            <div class="logo">
                <a href="/"><img class="header__logo" src="/img/Logo/blancV2ojo.png" alt="Logo de Oracula"></a>
            </div>
            <!--Hamburguesita-->
            <div class="Burguer">
                <button><i id="Burguer_icon" class="iconify" data-icon="eva:menu-fill"></i></button>
            </div>
            <!--Busqueda-->
            <form class="Busqueda" action="#" method="GET">
                <input class="Busqueda_input" type="search">
                <div>
                    <button class="Busqueda_button" class="submit">
                        <i class="iconify" data-icon="pepicons:loop"></i>
                    </button>
                </div>
            </form>
            <!-- Canastita Mobile-->
            <nav class="basket">
                <button><i class="iconify" data-icon="mdi:basket"></i></button>
            </nav>
            <!--Secciones categorias-->
            <nav class="secciones">
                <ul class="secciones__lista">
                    <li>
                        <button class="secciones__elemento secciones--magicPass">
                            <i class="iconify secciones__icon" data-icon="fa6-solid:explosion"></i>
                            Magic Pass
                        </button>
                    </li>
                    <li>
                        <button class="secciones__elemento secciones--generos" onclick="mostrarGeneros()">
                            <i class="iconify secciones__icon" data-icon="fa6-solid:hamsa"></i>
                            Géneros
                        </button>
                    </li>
                    <li>
                        <button class="secciones__elemento secciones--categorias" onclick="mostrarCategorias()">
                            <i class="iconify secciones__icon" data-icon="mdi:bottle-tonic-outline"></i>
                            Categorías
                        </button>
                    </li>
                    <li>
                        <button class="secciones__elemento secciones--admin" onclick="mostrarAdmin()">
                            <i class="fa-solid fa-toolbox secciones__icon"></i>
                            Admin
                        </button>
                    </li>
                </ul>
            </nav>
            <!--Botones-->
            <nav class="botonesSuperiores">
                <ul class="botonesSuperiores__lista">
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores__boton">
                            <i class="iconify secciones__icon" data-icon="fa:search"></i>
                        </button>
                    </li>
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores__boton">
                            <a href="/product/product"><i class="iconify secciones__icon"
                                    data-icon="pepicons:bookmark-print"></i></a>
                        </button>
                    </li>
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores__boton">
                            <a href="/product/cart"><i class="iconify secciones__icon" data-icon="mdi:basket"></i></a>
                        </button>
                    </li>
                    <li class="botonesSuperiores__elemento">
                        <button class="botonesSuperiores_Login">
                            <a href="/user/login">
                                <div class="botonesSuperiores_Login--texto">¡Ingresá!</div>
                            </a>
                            <i id="logoEntrar2" class="iconify  secciones__icon"
                                data-icon="arcticons:monument-valley"></i>
                            <i id="logoEntrar1" class="iconify  secciones__icon" data-icon="bi:door-open-fill"
                                data-flip="horizontal"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <!--Menú desplegable--> 
        <nav class="menu__container">
            <ul class="menu menu--generos" onmouseleave="ocultarGeneros()">
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/literatura/AliciaIlustrado.jpg"
                            alt="Imagen de Literatura">
                        <h4 class="menu__description">Literatura</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/juegos/stardewValley.png" alt="">
                        <h4 class="menu__description">Juegos</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/baratijas/mundoDisco.jpg" alt="">
                        <h4 class="menu__description">Baratijas</h4>
                    </a>
                </li>
            </ul>
            <ul class="menu menu--categorias" onmouseleave="ocultarCategorias()">
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/literatura/AliciaIlustrado.jpg"
                            alt="Imagen de Literatura">
                        <h4 class="menu__description">Literatura</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/juegos/stardewValley.png" alt="">
                        <h4 class="menu__description">Juegos</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/baratijas/mundoDisco.jpg" alt="">
                        <h4 class="menu__description">Baratijas</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link--imagen" href="LINK">
                        <img class="menu__imagen" src="/img/productos/multimedia/lordOfRingsSound.jpg" alt="">
                        <h4 class="menu__description">Audiovisuales</h4>
                    </a>
                </li>
            </ul>
            <ul class="menu menu--admin" onmouseleave="ocultarAdmin()">
                <li class="menu__item">
                    <a class="menu__link" href="LINK">
                        <h4 class="menu__description">Registrar Producto</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="LINK">
                        <h4 class="menu__description">Ver Productos</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="LINK">
                        <h4 class="menu__description">Registrar Usuarix</h4>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="LINK">
                        <h4 class="menu__description">Ver Usuarixs</h4>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--Relleno de header-->
    <div class="header__relleno"></div>

    <!--Script-->>
    <script>
        //Hace que el display de todos los menus empiece en None
        function setDisplayNoneMenus() {
            let menus = document.getElementsByClassName("menu");
            for (let i = 0; i < menus.length; i++) {
                menus[i].style.display = "none";
            }
        }
        setDisplayNoneMenus();
        //Cambia el display del menu que se le pase
        function setDisplayNoneSingleMenu(menu) {
            for (let i = 0; i < menu.length; i++) {
                menu[i].style.display = "none";
            }
        }
        //Muestra el menu de categorias
        function mostrarCategorias() {
            setDisplayNoneSingleMenu(document.getElementsByClassName("menu--generos"));
            setDisplayNoneSingleMenu(document.getElementsByClassName("menu--admin"));
            let menu = document.getElementsByClassName("menu--categorias");
            for (let i = 0; i < menu.length; i++) {
                if (menu[i].style.display == "none") {
                    menu[i].style.display = "flex";
                } else {
                    menu[i].style.display = "none"
                }
            }
        }
        //Oculta el menu de categorias
        function ocultarCategorias() {
            let menus = document.getElementsByClassName("menu--categorias");
            for (let i = 0; i < menus.length; i++) {
                menus[i].style.display = "none";
            }
        }
        //Muestra el menu de generos
        function mostrarGeneros() {
            setDisplayNoneSingleMenu(document.getElementsByClassName("menu--categorias"));
            setDisplayNoneSingleMenu(document.getElementsByClassName("menu--admin"));
            let menu = document.getElementsByClassName("menu--generos");
            for (let i = 0; i < menu.length; i++) {
                if (menu[i].style.display == "none") {
                    menu[i].style.display = "flex";
                    menu[i].style.visibility = "visible";
                    
                } else {
                    menu[i].style.display = "none"
                }
            }
        }
        //Oculta el menu de generos
        function ocultarGeneros() {
            let menus = document.getElementsByClassName("menu--generos");
            for (let i = 0; i < menus.length; i++) {
                menus[i].style.display = "none";
            }
        }
        //Muestra el menu de admin
        function mostrarAdmin() {
            setDisplayNoneSingleMenu(document.getElementsByClassName("menu--generos"));
            setDisplayNoneSingleMenu(document.getElementsByClassName("menu--categorias"));
            let menu = document.getElementsByClassName("menu--admin");
            for (let i = 0; i < menu.length; i++) {
                if (menu[i].style.display == "none") {
                    menu[i].style.display = "flex";
                    menu[i].style.visibility = "visible";

                } else {
                    menu[i].style.display = "none"
                }
            }
        }
        //Oculta el menu de admin
        function ocultarAdmin() {
            let menus = document.getElementsByClassName("menu--admin");
            for (let i = 0; i < menus.length; i++) {
                menus[i].style.display = "none";
            }
        }
    </script>
</header>