<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <!--header-->
    <%- include('../partials/header.ejs')%>
    <div class="fondo">
        <main>
            <h2>
                <%= user.nombre %> 
            </h2>
        </main>
    <!--footer-->
    <%- include('../partials/footer.ejs')%>
    </div>
    
</body>
</html>